{% extends 'base.html' %}
{% block login %}
    <div class="login-block">
        <h4 style="text-align: center">Вход</h4>
        <div class="" style="display: flex; justify-content: center; padding-bottom: 50px">
            <form action="{% url 'accounts:login' %}?next={{ next }}" method="post" class="text-center">
                {% include 'partial/form.html' %}
{#                <p class="text-center"><a href="{% url 'accounts:password_reset_email' %}">Забыли пароль?</a></p>#}
                <p class="text-center"><input type="submit" value="Вход" class="btn btn-success"></p>
            </form>
        </div>
        <hr>
    </div>
{% endblock %}