{% extends 'base.html' %}
{% block content %}
    <div class="login-block">
        <h4>Вход</h4>
        <div class="" style="display: flex; justify-content: center; padding-bottom: 50px">
            <form action="{% url 'accounts:login' %}?next={{ next }}" method="post" class="text-center">
                {% include 'partial/form.html' %}
{#                <p class="text-center"><a href="{% url 'accounts:password_reset_email' %}">Забыли пароль?</a></p>#}
                <p class="text-center"><input type="submit" value="Вход" class="btn btn-success"></p>
{#                <div class="checkbox-remember">#}
{#                    <input type="checkbox" id="remember" name="remember">#}
{#                    <label for="remember">Запомнить меня</label>#}
{#                </div>#}
            </form>
        </div>
        <hr>
{#        <span>Или войти</span>#}
{#        <div class="social-login" style="display: flex; justify-content: center; padding-bottom: 50px;">#}
{#            <div class="" style="width: 440px; max-width: 90%; display: flex; justify-content: space-between">#}
{#                <button type="button" class="btn btn-fb">Facebook</button>#}
{#                <button type="button" class="btn btn-ggl">Google</button>#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}
{#{% block scripts %}#}
{#    <script>#}
{#        $('#id_username').attr('placeholder','Введите вашу почту');#}
{#        $('#id_password').attr('placeholder','Введите пароль');#}
{#    </script>#}
{#{% endblock %}#}