{% extends 'base.html' %}
{% load static %}
{% block title %}Categories{% endblock %}
{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <table class="table" style="line-height: 15px">
            <h3 style="text-align: center">Пользователи</h3>
            <a href="{% url 'accounts:user_add' %}" class="btn ml-5 my-3 hiddenbutton"
               style="background-color: #83B734; color: white">Добавить
                пользователя</a>
            </div>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Пользователь</th>
                <th class="symbol hiddenbutton" scope="col">E-mail</th>
                <th class="symbol hiddenbutton" scope="col">Редактировать</th>
                <th class="symbol hiddenbutton" scope="col">Смена пароля</th>
                <th class="symbol hiddenbutton" scope="col">Удалить</th>
            </tr>
            </thead>
            {% for user in users %}
                <tbody>
                <tr style="background-color: lavender">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'accounts:user_detail' user.pk %}"> {{ user.username }}</a></td>
                    <td class="symbol">{% if user.email %}
                        {{ user.email }}{% endif %}</td>
                    {% if perms.webapp.change_user %}
                        <td class="symbol"><a class='update hiddenbutton'
                                              href="{% url 'accounts:user_edit' user.pk %}">&#x270E;</a></td>
                        <td class="symbol"><a class='update hiddenbutton'
                                              href="{% url 'accounts:user_password_change' user.pk %}">Поменять
                            пароль</a></td>
                    {% endif %}
                    {% if perms.webapp.delete_user %}
                        <td class="symbol"><a class='delete hiddenbutton'
                                              href="{% url 'accounts:user_delete' user.pk %}"
                                              style="color: red">&times;</a>
                        </td>
                    {% endif %}
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}