{% extends 'base.html' %}
{% load static %}
{% block title %}Categories{% endblock %}
{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <table class="table" style="line-height: 15px">
            <h3>Категории</h3>
            {#            {% if perms.webapp.add_category %}#}
            {#            <div class="row">#}
            <a href="{% url 'accounts:user_add' %}" class="btn ml-5 my-3 hiddenbutton"
               style="background-color: #83B734; color: white">Добавить
                пользователя</a>
            </div>
            {#            {% endif %}#}
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Пользователь</th>
                <th class="symbol hiddenbutton" scope="col">E-mail</th>
                <th class="symbol hiddenbutton" scope="col">Редактировать</th>
                <th class="symbol hiddenbutton" scope="col">Удалить</th>
                {#                <th class="symbol hiddenbutton" scope="col">Добавить#}
                {#                    подраздел</th>#}
            </tr>
            </thead>
            {% for user in users %}
                <tbody>
                <tr style="background-color: lavender">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'accounts:user_detail' user.pk %}"> {{ user.username }}</a></td>
                    <td class="symbol">{% if user.email%}
                        {{ user.email }}{% endif %}</td>
                    {#                        <td class="symbol"><a href="{% url 'webapp:subcategory_add' category.pk %}" class="add hiddenbutton">+</a></td>#}

                    {% if perms.webapp.change_category %}
                        <td class="symbol"><a class='update hiddenbutton'
                                              href="{% url 'accounts:user_edit' user.pk %}">&#x270E;</a></td>
                    {% endif %}
{#                    {% if perms.webapp.delete_category %}#}
{#                        <td class="symbol"><a class='delete hiddenbutton'#}
{#                                              href="{% url 'webapp:category_delete' category.pk %}" style="color: red">&times;</a>#}
                        </td>
                        </tr>
{#                    {% endif %}#}
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}